@design-tokens url("../../../styles/design-tokens.json") format("style-dictionary3");

.titleArea {
  margin-top: 24px;
  margin-bottom: 56px;
}
.title {
  margin: 0;
}
.hero {
  position: relative;
  z-index: 1;
}

/* Flex item container that governs the image's width */
.image {
  width: 100%;
  margin-bottom: 24px;
}
/* Padding hack to define the image's aspect ratio, since this changes at different breakpoints */
.imageInner {
  width: 100%;
  padding-top: 66.75%; /* 3:2 aspect ratio (300 / 450 * 100) */
  position: relative;
}
/* Actual `<img>` element */
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
}
@media (min-width: token("breakpoints.w520" to rem)) {
  .imageInner {
    padding-top: 40%; /* 5:2 aspect ratio (280 / 700 * 100) */
  }
}
@media (min-width: token("breakpoints.w768" to rem)) {
  .imageInner {
    padding-top: 66.75%;
  }
}
@media (min-width: token("breakpoints.w1024" to rem)) {
  .imageInner {
    padding-top: 40%;
  }
}

.image::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 120px;
  height: 100%;
  top: 24px;
  left: calc(var(--column-margin-left) * -1);
  background-color: var(--page-color-secondary);
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg' fill='white' fill-opacity='0.1' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath d='M4 0h2L0 6V4l4-4zM6 4v2H4l2-2z'/%3E%3C/svg%3E");
  -webkit-mask-image: linear-gradient(180deg, rgb(0% 0% 0% / 60%), rgb(0% 0% 0% / 0%));
  mask-image: linear-gradient(180deg, rgb(0% 0% 0% / 60%), rgb(0% 0% 0% / 0%));
}
.image::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 200px;
  height: 100%;
  top: -24px;
  right: calc(var(--column-margin-left) * -1);
  background-color: var(--page-color-primary);
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='white' fill-opacity='0.1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-image: linear-gradient(180deg, rgb(0% 0% 0% / 90%), rgb(0% 0% 0% / 0%));
  mask-image: linear-gradient(180deg, rgb(0% 0% 0% / 90%), rgb(0% 0% 0% / 0%));
}

.shareToolsAbove,
.metaAbove {
  display: none;
}
.metaBelow {
  margin-top: 24px;
  padding: 24px 0 16px 0;
  background-color: var(--color-white);
  /* Full-width (https://www.youtube.com/watch?v=81pnuZFarRw) */
  box-shadow: 0 0 0 100vmax var(--color-white);
  clip-path: inset(0 -100vmax);
}
.metaBelow > div > *:first-child {
  margin-top: 0;
}
.metaBelow > div > *:last-child {
  margin-bottom: 0;
}

@media (min-width: token("breakpoints.w480" to rem)) {
  .titleArea {
    margin-top: 40px;
    margin-bottom: 64px;
  }
}

@media (min-width: token("breakpoints.w768" to rem)) {
  .shareToolsAbove,
  .metaAbove {
    display: block;
  }
  .shareToolsBelow,
  .metaBelow {
    display: none;
  }
  .titleArea {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 48px;
  }
  .hero {
    margin-bottom: 64px;
    display: flex;
  }
  .hero::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 75%;
    height: 100%;
    top: -24px;
    right: calc(var(--column-margin-left) * -1);
    background-color: var(--page-color-primary);
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='white' fill-opacity='0.1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    -webkit-mask-image: linear-gradient(90deg, rgb(0% 0% 0% / 0%), rgb(0% 0% 0%) 15%);
    mask-image: linear-gradient(90deg, rgb(0% 0% 0% / 0%), rgb(0% 0% 0%) 15%);
  }
  .image {
    max-width: 700px;
    margin-bottom: 0;
  }
  .image::before {
    width: 200px;
    left: calc(var(--column-margin-left) * -1);
  }
  .image::after {
    display: none;
  }
  .image,
  .metaAbove {
    flex: 1;
  }
  .metaAbove {
    padding-left: 32px;
    padding-top: 8px;
  }
}

@media (min-width: token("breakpoints.w1024" to rem)) {
  .image {
    flex: 1;
  }
  .metaAbove {
    flex: 0.8;
  }
}

@media (min-width: token("breakpoints.w1150" to rem)) {
  .hero {
    margin-left: 72px;
    margin-right: 0;
  }
  .hero::after {
    right: 0;
  }
  .image::before {
    left: -72px;
  }
}
