@design-tokens url("../../styles/design-tokens.json") format("style-dictionary3");

.figure {
  width: 100%;
  margin: 48px auto;
}
.figure > img {
  box-shadow: var(--box-shadow);
}
.caption {
  margin-top: 8px;
  font-size: var(--font-size-16);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: token("breakpoints.w800" to rem)) {
  .figure {
    margin-top: 8px;
    margin-bottom: 36px;
  }
  .align-left {
    margin-right: 24px;
    float: left;
  }
  .align-right {
    margin-left: 24px;
    float: right;
  }
  .align-center {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: token("breakpoints.w1024" to rem)) {
  .align-left {
    margin-right: 48px;
  }
  .align-right {
    margin-left: 48px;
  }
}
