.page {
  margin-top: 22px;
}
.row1 section,
.row2 section {
  background-color: #ccc;
}
.row1,
.row2 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 64px;
}
.row1 {
  margin-top: 22px;
  margin-bottom: 64px;
}
@media (min-width: env(--bp-1150)) {
  .row1 {
    grid-template-columns: 1.5fr 1fr;
    column-gap: 22px;
    margin-bottom: 22px;
  }
  .row2 {
    grid-template-columns: 0.9fr 1fr;
    column-gap: 22px;
  }
}
@media (min-width: env(--bp-1280)) {
  .page {
    margin-top: 44px;
  }
  .row1 {
    grid-template-columns: 1.4fr 1fr 44px;
    column-gap: 44px;
    margin-top: 0;
    margin-bottom: 44px;
  }
  .row2 {
    grid-template-columns: 1fr 1.15fr;
    column-gap: 44px;
  }
}
