.hero {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr;
}
.image {
  width: 100%;
  margin-bottom: 48px;
  position: relative;
}
.image::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 120px;
  height: 100%;
  top: 24px;
  left: calc(var(--column-margin-left) * -1);
  background-color: #ccc;
}
.image::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 200px;
  height: 100%;
  top: -24px;
  right: calc(var(--column-margin-left) * -1);
  background-color: #ccc;
}
.body {
  margin: 0 calc(var(--column-margin-left) * 2);
}
@media (min-width: env(--bp-768)) {
  .hero {
    margin: 48px 36px;
    grid-template-columns: 1fr 0.9fr;
    gap: 24px;
    position: relative;
  }
  .hero::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 80%;
    height: 100%;
    top: -24px;
    right: calc(var(--column-margin-left) * -1 - 36px);
    background-color: #ccc;
  }
  .image {
    margin-bottom: 0;
  }
  .image::before {
    width: 200px;
    left: calc(var(--column-margin-left) * -1 - 36px);
  }
  .image::after {
    display: none;
  }
}
