.hero {
  margin-top: 48px;
}
.image {
  width: 100%;
  margin-bottom: 48px;
  position: relative;
}
.image::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 120px;
  height: 100%;
  top: 24px;
  left: calc(var(--column-margin-left) * -1);
  background-color: #ccc;
}
.image::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 200px;
  height: 100%;
  top: -24px;
  right: calc(var(--column-margin-left) * -1);
  background-color: #ccc;
}
.body {
  margin: 0 calc(var(--column-margin-left) * 2);
}
@media (min-width: env(--bp-768)) {
  .hero {
    margin-bottom: 48px;
    display: flex;
    position: relative;
  }
  .hero::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 80%;
    height: 100%;
    top: -24px;
    right: calc(var(--column-margin-left) * -1);
    background-color: #ccc;
  }
  .image {
    max-width: 700px;
    margin-bottom: 0;
  }
  .image::before {
    width: 200px;
    left: calc(var(--column-margin-left) * -1);
  }
  .image::after {
    display: none;
  }
  .image,
  .meta {
    flex: 1;
  }
  .meta {
    padding-left: 24px;
  }
}
@media (min-width: env(--bp-1024)) {
  .image {
    flex: 1;
  }
  .meta {
    flex: 0.8;
  }
}
@media (min-width: env(--bp-1150)) {
  .hero {
    margin-left: 36px;
    margin-right: 36px;
  }
  .hero::after {
    right: calc(var(--column-margin-left) * -1 - 36px);
  }
  .image::before {
    left: calc(var(--column-margin-left) * -1 - 36px);
  }
}
