@design-tokens url("../styles/design-tokens.json") format("style-dictionary3");

.cardList {
  list-style-type: none;
  margin: 0 0 48px 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 64px;
}
.cardLink {
  color: var(--color-font-base);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.cardLink:hover .cardTitle,
.cardLink:focus .cardTitle {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}
.cardImage {
  width: 100%;
}
.cardInfo {
  flex: 1 1;
  align-self: flex-start;
}
.cardTitle {
  margin: 0;
  font-size: var(--font-size-20);
}
.cardDate {
  margin: 8px 0;
}
.cardDescription {
  margin: 8px 0 0 0;
}

@media (min-width: token("breakpoints.w480" to rem)) {
  .cardList {
    gap: 32px;
  }
  .cardLink {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media (min-width: token("breakpoints.w600" to rem)) {
  .cardList {
    grid-template-columns: repeat(auto-fit, minmax(53ch, 70ch));
  }
}

/* "Padded" */

.cardListPadded {
  justify-content: center;
  gap: 32px;
}
.cardListPadded .cardLink {
  height: 100%;
  padding: 24px;
  background-color: var(--color-white);
  border: 4px solid #eee;
  border-radius: 10px 0;
}
.cardListPadded .cardImage img {
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
}

@media (min-width: token("breakpoints.w600" to rem)) {
  .cardListPadded {
    grid-template-columns: repeat(auto-fit, minmax(53ch, 67ch));
  }
}
