.main {
  padding-bottom: 48px;
  padding-left: var(--column-margin-left);
  padding-right: var(--column-margin-right);
  background: linear-gradient(
    100deg,
    rgb(var(--page-color-primary-rgb) / 10%) 0%,
    rgb(var(--page-color-secondary-rgb) / 10%) 100%
  );
  /* Prevent margins from collapsing: https://stackoverflow.com/a/42069793/1243086 */
  display: inline-block;
  width: 100%;
  position: relative;
}
