@design-tokens url("../styles/design-tokens.json") format("style-dictionary3");

.pageBody {
  padding: 24px 0;
  font-size: var(--font-size-20);
  background-color: var(--color-white);
  /* Full-width (https://www.youtube.com/watch?v=81pnuZFarRw) */
  box-shadow: 0 0 0 100vmax var(--color-white);
  clip-path: inset(0 -100vmax);
}
.pageBodyStatic {
  margin-top: 48px;
}
.pageBody > *:first-child,
.pageBody > figure:first-child + *,
.pageBodyBlock > *:first-child {
  margin-top: 0;
}

@media (min-width: token("breakpoints.w768" to rem)) {
  .pageBody {
    /* max-width: 980px; */
    max-width: 61.25rem;
    margin-left: auto;
    margin-right: auto;
    padding: 48px;
    box-shadow: var(--box-shadow);
    clip-path: none;
  }
  .pageBody > div > figure:first-child + *:nth-child(2) {
    margin-top: 0;
  }
}
.pageBody a,
.pageBody a:visited,
.pageBody a:hover,
.pageBody a:focus,
.pageBody a:active {
  color: var(--color-font-base);
}

@media (min-width: token("breakpoints.w1024" to rem)) {
  .pageBody {
    padding: 72px;
  }
}
