@design-tokens url("../styles/design-tokens.json") format("style-dictionary3");

.postBody {
  margin: 0 calc(var(--column-margin-right) * -1) 0 calc(var(--column-margin-left) * -1);
  padding: 24px;
  background-color: var(--color-white);
  font-size: var(--font-size-20);
}
.postBody > *:first-child,
.postBody > figure:first-child + *,
.postBodyBlock > *:first-child {
  margin-top: 0;
}

@media (min-width: token("breakpoints.w768" to rem)) {
  .postBody {
    max-width: 980px;
    margin: 0 auto;
    padding: 48px;
  }
  .postBody > div > figure:first-child + *:nth-child(2) {
    margin-top: 0;
  }
}
.postBody a,
.postBody a:visited,
.postBody a:hover,
.postBody a:focus,
.postBody a:active {
  color: var(--color-font-base);
}
.postBody h2,
.postBody h3,
.postBody h4,
.postBody h5,
.postBody h6 {
  margin: 48px 0;
}

@media (min-width: token("breakpoints.w1024" to rem)) {
  .postBody {
    padding: 72px;
  }
}
