.reviewList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.reviewItem {
  margin-bottom: 44px;
}

.reviewTitleWrapper {
  display: flex;
  gap: 12px;
}
.reviewTitleWrapper::before,
.reviewTitleWrapper::after {
  width: 32px;
  height: 32px;
  font-size: 88px;
  font-style: normal;
  line-height: 0.67;
  color: var(--page-color-secondary-orig);
}
.reviewTitleWrapper::before {
  content: "“";
}
.reviewTitleWrapper::after {
  content: "”";
}
.reviewTitle {
  margin-top: 0;
  font-size: var(--font-size-24);
  font-style: normal;
}

.reviewItem:last-child,
.reviewCaption {
  margin-bottom: 0;
}
.reviewFigure,
.reviewQuote {
  margin: 0;
}
.reviewQuote > p {
  margin-top: 0;
}
.reviewQuote > p,
.reviewCaption {
  padding: 0 44px; /* 32 + 12 */
}
