@design-tokens url("../../../styles/design-tokens.json") format("style-dictionary3");

.patternBlock {
  width: 60%;
  height: 300px;
  position: absolute;
  top: 24px;
  left: 0;
  z-index: -1;
  background-color: var(--page-color-secondary);
  -webkit-mask-image: linear-gradient(180deg, rgb(0% 0% 0% / 60%), rgb(0% 0% 0% / 0%));
  mask-image: linear-gradient(180deg, rgb(0% 0% 0% / 60%), rgb(0% 0% 0% / 0%));
}
.page {
  margin-top: 24px;
  position: relative;
}
.row1,
.row2 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 64px;
  align-items: start;
}
.row1 {
  margin-top: 48px;
  margin-bottom: 72px;
}
.shareToolsVertical {
  display: none;
}
.shareToolsHorizontal {
  display: none;
}
.shareToolsFeaturedItem {
  margin-top: 24px;
}

@media (min-width: token("breakpoints.w600" to rem)) {
  .patternBlock {
    width: 35%;
    top: 40px;
  }
  .row1 {
    margin-top: 0;
  }
  .shareToolsHorizontal {
    display: block;
  }
  .shareToolsFeaturedItem {
    display: none;
  }
}

@media (min-width: token("breakpoints.w820" to rem)) {
  .patternBlock {
    width: 300px;
  }
}

@media (min-width: token("breakpoints.w1150" to rem)) {
  .patternBlock {
    width: 23%;
  }
  .row1 {
    grid-template-columns: 1.8fr 1fr;
    column-gap: 32px;
  }
  .row2 {
    grid-template-columns: 0.9fr 1fr;
    column-gap: 24px;
    justify-items: center;
  }
}

@media (min-width: token("breakpoints.w1280" to rem)) {
  .patternBlock {
    width: 300px;
  }
  .row2 {
    grid-template-columns: 1fr 1.15fr;
  }
}

@media (min-width: token("breakpoints.w1400" to rem)) {
  .page {
    margin-top: 64px;
  }
  .row1 {
    grid-template-columns: 1.7fr 1fr 44px;
  }
  .shareToolsHorizontal {
    display: none;
  }
  .shareToolsVertical {
    margin-top: 24px;
    display: block;
  }
}

/* Max page width */
@media (min-width: token("breakpoints.w1720" to rem)) {
  .patternBlock {
    /*
    Left edge of viewport until start of centered page content:
    100% - 1720px (width of centered page content, including padding) / 2
    */
    width: calc((100% - 1720px) / 2 + 312px); /* Plus 312px extra */
  }
}
