@design-tokens url("../../styles/design-tokens.json") format("style-dictionary3");

.featuredItem {
  color: var(--page-color-primary-text);
  margin-top: 24px;
  padding: 24px;
  border-radius: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: var(--page-color-primary);
}
.featuredItem ul,
.featuredItem ol {
  line-height: 1.8;
}
.featuredItem a,
.featuredItem a:visited,
.featuredItem a:hover,
.featuredItem a:focus,
.featuredItem a:active {
  color: var(--page-color-primary-text);
}
.featuredItem :focus,
.featuredItem :hover:focus {
  outline-color: var(--page-color-primary-text);
}
.featuredItemImage {
  width: 100%;
  max-width: 280px;
  margin-top: -48px;
  box-shadow: var(--box-shadow-strong);
}
.featuredItemImageLink {
  display: block;
}
.featuredItemInfo {
  flex: 1 1;
}
.featuredItemInfo h1 {
  margin-top: 0;
}
.featuredItemMoreLink {
  margin-top: 36px;
}

@media (min-width: token("breakpoints.w400" to rem)) {
  .featuredItem {
    margin: 24px 0 0 0;
    box-shadow: var(--box-shadow);
  }
}

@media (min-width: token("breakpoints.w600" to rem)) {
  .featuredItem {
    flex-direction: row;
    align-items: flex-start;
  }
  .featuredItemImage {
    width: 38%;
    margin-bottom: -48px;
  }
}
