@design-tokens url("../../styles/design-tokens.json") format("style-dictionary3");

.featuredNovel {
  border-radius: 10px 0;
  background-color: var(--page-color-primary);
  color: var(--page-color-primary-text);
  box-shadow: var(--box-shadow);
  margin-top: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.featuredNovel ul,
.featuredNovel ol {
  line-height: 1.8;
}
.featuredNovel a,
.featuredNovel a:visited,
.featuredNovel a:hover,
.featuredNovel a:focus,
.featuredNovel a:active {
  color: var(--page-color-primary-text);
}
.featuredNovel :focus,
.featuredNovel :hover:focus {
  outline-color: var(--page-color-primary-text);
}
.featuredNovelImage {
  width: 280px;
  margin: -48px -48px 0 -48px;
  box-shadow: var(--box-shadow-strong);
}
.featuredNovelInfo {
  flex: 1 1;
}
.featuredNovelInfo h1 {
  margin-top: 0;
}

@media (min-width: token("breakpoints.w600" to rem)) {
  .featuredNovel {
    margin-left: 24px;
    flex-direction: row;
    align-items: flex-start;
  }
  .featuredNovelImage {
    margin-right: 0;
    margin-bottom: -48px;
  }
}
