@design-tokens url("../../styles/design-tokens.json") format("style-dictionary3");

.featuredReviews {
  max-width: 75ch;
  margin: 0 auto;
}

@media (min-width: token("breakpoints.w1150" to rem)) {
  .featuredReviews {
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
    padding: 24px 0;
    display: flex;
    align-items: center;
  }
}
