@design-tokens url("../../styles/design-tokens.json") format("style-dictionary3");

.heroArea {
  max-width: 1040px;
  margin: 96px auto;
}
.patternBlock1 {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 50%;
  height: 320px;
  margin-top: 32px;
  left: 0;
  background-color: var(--page-color-secondary-orig);
  -webkit-mask-image: linear-gradient(180deg, rgb(0% 0% 0% / 90%), rgb(0% 0% 0% / 0%));
  mask-image: linear-gradient(180deg, rgb(0% 0% 0% / 90%), rgb(0% 0% 0% / 0%));
}
.coverImageAndInfo {
  margin: 64px 0;
  border-radius: 10px 0;
  background-color: var(--page-color-primary);
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-shadow: var(--box-shadow);
}
.coverImageAndInfo :focus,
.coverImageAndInfo :hover:focus {
  outline-color: var(--color-white);
}
.patternBlock2 {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 35%;
  height: 370px;
  top: 72px;
  right: 0;
  background-color: var(--page-color-secondary-orig);
  -webkit-mask-image: linear-gradient(180deg, rgb(0% 0% 0% / 90%), rgb(0% 0% 0% / 0%));
  mask-image: linear-gradient(180deg, rgb(0% 0% 0% / 90%), rgb(0% 0% 0% / 0%));
}

@media (min-width: token("breakpoints.w768" to rem)) {
  .heroArea {
    margin: 64px auto;
  }
  .coverImageAndInfo {
    justify-content: flex-start;
    margin: 32px 0 32px 32px;
    padding: 32px;
  }
  .patternBlock2 {
    top: 40px;
  }
}

/* Hero area - inner elements */

.coverImage {
  width: 300px;
  flex-shrink: 0;
}
.coverImage > img {
  /* aspect-ratio: 0.65 / 1; */
  margin: -64px 0;
  box-shadow: var(--box-shadow-strong);
}
.info ul,
.info ol {
  line-height: 1.8;
}
.title {
  margin-top: 0;
}
.shareToolsHorizontal {
  margin-top: 32px;
}
.shareToolsVertical {
  display: none;
}
@media (min-width: token("breakpoints.w768" to rem)) {
  .coverImage > img {
    margin: -64px;
  }
}
@media (min-width: token("breakpoints.w1024" to rem)) {
  .shareToolsHorizontal {
    display: none;
  }
  .shareToolsVertical {
    display: block;
  }
}

/* Info - inside hero area */

.infoAbove {
  display: none;
}
@media (min-width: token("breakpoints.w768" to rem)) {
  .infoAbove {
    margin: 0 0 0 -24px;
    color: var(--color-white);
    flex: 1;
    display: block;
  }
  .infoAbove a,
  .infoAbove a:visited,
  .infoAbove a:hover,
  .infoAbove a:focus,
  .infoAbove a:active {
    color: var(--color-white);
  }
  /* TODO: what was this for? */
  /* .infoAbove > div > *:last-child { margin: 0; } */
}
@media (min-width: token("breakpoints.w1024" to rem)) {
  .infoAbove {
    margin-right: 48px;
  }
}

/* Info - below hero area */

.infoBelow {
  margin: 0 -24px;
  padding: 24px;
  background-color: var(--color-white);
  color: var(--color-font-base);
}
.infoBelow a,
.infoBelow a:visited,
.infoBelow a:hover,
.infoBelow a:focus,
.infoBelow a:active {
  color: var(--color-font-base);
}
.shareToolsBelow {
  margin-top: 24px;
}
@media (min-width: token("breakpoints.w768" to rem)) {
  .infoBelow {
    display: none;
  }
}

/* Body area */

.reviewsHeading,
.reviews {
  margin: 48px 0;
}

@media (min-width: token("breakpoints.w768" to rem)) {
  .reviews {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 48px;
  }
}
