.footer {
  margin: 64px calc(var(--column-margin-right) * -1) 0 calc(var(--column-margin-left) * -1);
  padding: 32px var(--column-margin-right) 32px var(--column-margin-left);
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/images/footer-illustration.svg") repeat top left;
  background-size: auto 250%;
}
.footerLink {
  padding: 10px 16px;
  background-color: #fff;
  border-radius: 5px;
  font-size: var(--font-size-16);
  color: var(--font-color-base);
  text-decoration-line: none;
}
.footerLink:hover,
.footerLink:focus,
.footerLink:active {
  text-decoration-line: underline;
}
