.footer {
  margin-top: 64px;
  margin-bottom: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: var(--column-margin-left);
  padding-right: var(--column-margin-right);
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/images/footer-illustration.svg") repeat top left;
  background-size: auto 250%;
}
.footerLink {
  padding: 10px 16px;
  background-color: #fff;
  border-radius: 5px;
  font-size: var(--font-size-16);
  color: var(--font-color-base);
  text-decoration-line: none;
}
.footerLink:hover,
.footerLink:focus,
.footerLink:active {
  text-decoration-line: underline;
}
