@design-tokens url("../../styles/design-tokens.json") format("style-dictionary3");

.header {
  padding-left: var(--column-margin-left);
  padding-right: var(--column-margin-right);
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 1fr;
  align-items: center;
}
.nameAndTitle {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  column-gap: 16px;
  row-gap: 4px;
  flex-wrap: wrap;
  grid-column: 1 / 2;
}
@media (min-width: token("breakpoints.w820" to rem)) {
  .header {
    padding-bottom: 32px;
    align-items: baseline;
  }
  .nameAndTitle {
    flex-direction: row;
  }
}
/* "Sandi Plewis" */
.name {
  margin: 0;
  line-height: 1;
  font-family: var(--font-dancing-script), cursive;
  font-size: var(--font-size-40);
  font-weight: 700;
  white-space: nowrap;
}
.nameLink {
  text-decoration: none;
  color: var(--color-font-base);
}
/* "Author/editor" */
.title {
  margin: 0;
  line-height: 1;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-20);
  font-family: var(--font-family-base);
}

/* Twitter nav link */

.navLinkTwitter {
  font-size: var(--font-size-20);
  color: var(--color-font-base);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.navLinkTwitter:hover,
.navLinkTwitter:focus {
  text-decoration-line: underline;
}
.navLinkTwitter svg {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  fill: var(--color-font-base);
  flex-shrink: 0;
}

/* Twitter nav link text */

.navLinkTwitterTextDesktop {
  display: none;
}
@media (min-width: token("breakpoints.w820" to rem)) {
  .navLinkTwitterTextMobile {
    display: none;
  }
  .navLinkTwitterTextDesktop {
    display: block;
  }
}

/* Mobile nav menu button */

.navMobileButton {
  width: 44px;
  height: 44px;
  margin: 22px 0 22px 22px; /* 22 + 44 + 22 = 88 (header height) */
  padding: 0;
  justify-self: end;
  grid-column: 2 / 3;
  transition: transform 0.25s ease-out;
}
.navMobileButton:hover,
.navMobileButton:focus {
  transform: scale3d(1.1, 1.1, 1.1);
}
.navMobileButton svg {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
}

/* Mobile nav menu */

.navMobile {
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 3;
  overflow-x: hidden;
  overflow-y: scroll;
  /* Momentum touch scrolling for iOS (non-standard feature) */
  -webkit-overflow-scrolling: touch;
  background-color: var(--color-font-base);
}
.navMobileHiding {
  animation: hideNavMenu 0.25s ease-out 0s 1 normal forwards running;
}
.navMobileRevealing {
  animation: revealNavMenu 0.25s ease-out 0s 1 normal forwards running;
}
@keyframes hideNavMenu {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
@keyframes revealNavMenu {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Mobile nav links */

.navMobile .navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navMobile .navItem {
  border-bottom: 2px solid #666;
  position: relative;
}
.navMobile .navItemActive::before {
  width: 8px;
  height: 100%;
  background-color: #666;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
.navMobile .navLink {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: var(--column-margin-left);
  padding-right: var(--column-margin-right);
  font-size: var(--font-size-20);
  color: var(--color-white);
  text-decoration-line: none;
  display: block;
}
.navMobile .navLink:hover,
.navMobile .navLink:focus {
  text-decoration-line: underline;
  background-color: var(--color-darkest-gray);
}

/* Mobile nav Twitter link */

.navMobile .navLinkTwitter {
  width: 100%;
  height: 70px; /* TODO: how to achieve this with padding instead? */
  padding-left: var(--column-margin-left);
  padding-right: var(--column-margin-right);
  color: var(--color-white);
  transform: none;
}
.navMobile .navLinkTwitter:hover,
.navMobile .navLinkTwitter:focus {
  background-color: var(--color-darkest-gray);
}
.navMobile .navLinkTwitter svg {
  fill: var(--color-white);
}

/* Desktop nav */

.navDesktop {
  margin-left: 48px;
  justify-self: end;
  grid-column: 2 / 3;
  display: none;
}
.navDesktop .navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
}
.navDesktop .navItem {
  padding-top: 28px;
  border-top: 12px solid transparent;
}
.navDesktop .navItemActive {
  border-top-color: var(--page-color-primary);
}
.navDesktop .navLink {
  font-size: var(--font-size-20);
  color: var(--color-font-base);
  text-decoration-line: none;
}
.navDesktop .navLink:hover,
.navDesktop .navLink:focus {
  text-decoration-line: underline;
}

/* Toggle mobile vs desktop navs */

@media (min-width: token("breakpoints.w820" to rem)) {
  .navMobileButton,
  .navMobile {
    display: none;
  }
  .navDesktop {
    display: block;
  }
}
