.main {
  padding-left: var(--column-margin-left);
  padding-right: var(--column-margin-right);
  background: linear-gradient(
    100deg,
    var(--page-color-primary-diluted) 0%,
    var(--page-color-secondary-diluted) 100%
  );
  /* Prevent margins from collapsing: https://stackoverflow.com/a/42069793/1243086 */
  display: inline-block;
  width: 100%;
  position: relative;
}
