@design-tokens url("../design-tokens.json") format("style-dictionary3");

.page {
  margin-top: 24px;
  margin-bottom: 48px;
  position: relative;
}
.row1,
.row2 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 64px;
  align-items: start;
}
.row1 {
  margin-top: 24px;
  margin-bottom: 64px;
}
.patternBlock {
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: -1;
  left: calc(var(--column-margin-left) * -1);
}

@media (min-width: token("breakpoints.w1150" to rem)) {
  .row1 {
    grid-template-columns: 1.5fr 1fr;
    column-gap: 24px;
    margin-bottom: 24px;
  }
  .row2 {
    grid-template-columns: 0.9fr 1fr;
    column-gap: 24px;
  }
}

@media (min-width: token("breakpoints.w1280" to rem)) {
  .page {
    margin-top: 72px;
  }
  .row1 {
    grid-template-columns: 1.4fr 1fr 44px;
    column-gap: 48px;
    margin-top: 0;
    margin-bottom: 48px;
  }
  .row2 {
    grid-template-columns: 1fr 1.15fr;
    column-gap: 48px;
  }
  .patternBlock {
    top: -24px;
  }
}
