@design-tokens url("../design-tokens.json") format("style-dictionary3");

.heroArea {
  max-width: 1028px;
  margin: 72px auto 0 auto;
}
.patternBlock1 {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 50%;
  height: 324px;
  margin-top: 36px; /* 48 - 12 */
  left: 0;
}
.patternBlock2 {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 35%;
  height: 370px;
  top: 48px;
  right: 0;
}

.coverImageAndInfo {
  margin: 24px 0;
  padding: 48px;
  border-radius: 10px 0;
  background-color: var(--page-color-primary);
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 48px;
}
.coverImageAndInfo :focus,
.coverImageAndInfo :hover:focus {
  outline-color: var(--color-white);
}

@media (min-width: token("breakpoints.w768" to rem)) {
  .patternBlock1 {
    margin-top: 48px;
  }
  .coverImageAndInfo {
    padding-right: 32px; /* -12px to account for image transform */
    justify-content: flex-start;
  }
}

@media (min-width: token("breakpoints.w1024" to rem)) {
  .coverImageAndInfo {
    margin-bottom: 48px;
  }
}

/* Hero area - inner elements */

.coverImage {
  width: 188px;
  transform: translate(12px, -12px);
  background-color: var(--page-color-secondary);
  flex-shrink: 0;
}
.coverImage > img {
  transform: translate(-24px, 24px);
}
.title {
  margin-top: 0;
}
.info ul,
.info ol {
  line-height: 1.8;
}

@media (min-width: token("breakpoints.w768" to rem)) {
  .coverImage {
    margin-bottom: 24px;
    transform: translate(12px, 0);
  }
}

/* Info - inside hero area */

.infoAbove {
  color: var(--color-white);
}
.infoAbove > div > *:last-child {
  margin: 0;
}
.infoAbove a,
.infoAbove a:visited,
.infoAbove a:hover,
.infoAbove a:focus,
.infoAbove a:active {
  color: var(--color-white);
}

/* Info - below hero area */

.infoBelow {
  margin: 0 -24px;
  padding: 24px;
  background-color: var(--color-white);
  color: var(--color-font-base);
}
.infoBelow a,
.infoBelow a:visited,
.infoBelow a:hover,
.infoBelow a:focus,
.infoBelow a:active {
  color: var(--color-font-base);
}

/* Body area */

.shareToolsBelow {
  margin-bottom: 24px;
}
.reviewsHeading,
.reviews {
  margin: 48px 0;
}

@media (min-width: token("breakpoints.w768" to rem)) {
  .reviews {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 48px;
  }
}
