:root {
  --font-size-12: 0.75rem;
  --font-size-16: 1rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-28: 1.75rem;
  --font-size-32: 2rem;
  --font-size-36: 2.25rem;
  --font-size-40: 2.5rem;
  /* --font-size-0: 40.5px; */
  /* --font-size-1: 36px; */
  /* --font-size-2: 27px; */
  /* --font-size-3: 24px; */
  /* --font-size-4: 20px; */
  /* --font-size-5: 16px; */
  /* --font-size-6: 16px; */
  --font-weight-bold: 700;
  --font-weight-normal: 400;
}
@media (min-width: env(--bp-820)) {
  .header {
    padding-bottom: 32px;
    align-items: baseline;
  }
  .nameAndTitle {
    flex-direction: row;
  }
}
